
@media screen and (min-width:1025px){
    *{
        font-family: 'Poppins', sans-serif;
    }
    body{
        margin: 0px; 
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .cel{
        display: none;
        color: #fff;
    }
    .encabezado{
        background-color: rgb(246, 0, 127);
        /*Tamaño*/
        height: 70px;
        width: 100%;
        /*Posición*/
        position: fixed;
        display: flex;
        justify-content: flex-end; 
        align-items: center;
        flex-direction: row; 
    }
    
    .encImg img{
        margin-top: 70px !important;
    }
    
    .containerSearch{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        padding: 10px;
    }
    
    .containerSearch input {
        outline: none;
        box-sizing: border-box;
        height: 30px;
        width: 0px;
        padding: 0 20px;
        color: #000;
        border-radius: 50px;
        font-size: 20px;
        border: 1px solid rgb(246, 0, 127);
        transition: all .7s ease;
    }
    
    ::placeholder {
        color: grey;
    }
    
    .btnSearch{
        position: absolute;
        right: 0px;
        top: 0px;
        width: 53px;
        height: 53px;
        background: rgb(246, 0, 127);
        line-height: 80px;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
        transition: .5s;
    }
    
    .btnSearch i {
        font-size: 25px;
        color: white;
        line-height: 50px;
        transition: all .7s ease;
    }
    
    .containerSearch:hover input {
        width: 350px;
    }
    
    .containerSearch:hover i{
        transform: rotate(-360deg);
    }
    
    .btnSearch:hover{
        background: rgb(246, 0, 127);
    }
    
    .login{
        /*Posicion*/
        display: flex;
        justify-content: flex-end; 
        align-items: center;
        flex-direction: row;
        /*Tamaño*/
        margin-right: 20px;
        width: 90%;
    }
    
    .inicioSesion a{
        text-decoration: none;
        color: white;
        font-weight: bold;
    }
    
    .registro a{
        text-decoration: none;
        color: rgb(246, 0, 127);
        font-weight: bold;
    }
    
    .inicioSesion{
        /*Tamaño*/
        height: 25px;
        width: 145px;
        margin: 5px;
        padding-top: 2px;
        /*Bordes*/
        border: 1px solid white;
        border-radius: 20px;
        /*Contenido*/
        font-weight: bold;
        text-align: center;
    }
    
    .registro{
        /*Tamaño*/
        height: 25px;
        width: 130px;
        margin: 15px;
        padding-top: 2px;
        /*Bordes*/
        border-radius: 20px;
        background-color: white;
        /*Contenido*/
        font-weight: bold;
        text-align: center;
        
    }
    
    .menu{
        /*Tamaño*/
        height: 50px;
        width: 100%;
        font-size: 15pt;
        /*Posicion*/
        display: flex;
        justify-content: center;
        /*Apariencia*/
    }
    
    a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        margin: 15px;
    }
    
    span{
        color: rgb(246, 0, 127);
    }
    .mainPage{
        color: black;
        font-weight: bold;
        margin-top: 150px;
        background-image: linear-gradient(to bottom, white 25%, white 30%, rgb(252, 192, 223) 70%);
    
        /*Tamaño*/
    }
    
    .sugerencias{
        margin-left: 30px;
        font-size: 15pt;
    }
    
    .lectura{
        margin-left: 30px;
        margin-top: 30px;
        font-size: 15pt;
    }
    
    .recomendaciones{
        margin-left: 30px;
        margin-top: 50px;
        font-size: 15pt;
    }
    
    .imgSug{
        margin-left: 40px;
        display: flex;
        justify-content: space-around;
    }
    
    .piePagina{
        background-color: black;
        /*Tamaño*/
        /*height: 100px;*/
        width: 100%;
        height: 100px;
        color: #fff;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .piePagina a{
        color:#fff
    }
    
    .slider-frame {
        width: 1280px;
        height: auto;
        margin:50px auto 0;
        overflow: hidden;
    }
    
    .slider-frame ul {
        display: flex;
        padding: 0;
        width: 400%;
        
        animation: slide 20s infinite alternate ease-in-out;
    }
    
    .slider-frame li {
        width: 100%;
        list-style: none;
    }
    
    .slider-frame img {
        width: 100%;
    }
    
    @keyframes slide {
        0% {margin-left: 0;}
        20% {margin-left: 0;}
        
        25% {margin-left: -100%;}
        45% {margin-left: -100%;}
        
        50% {margin-left: -200%;}
        70% {margin-left: -200%;}
        
        75% {margin-left: -300%;}
        100% {margin-left: -300%;}
    }
    
    /*Estilo listado recetas*/
    
    .titlePage{
         /*Tamaño*/
         margin-top: 30px;
         margin-left: 30px;
         /*Posición*/
         /*Apariencia*/
         font-weight: bold;
         font-size: 25pt;
    }
    .introductionPage{
        /*Tamaño*/
        margin-left: 30px;
        width: 90%;
        text-align: justify;
    }
    
    .cocinar{
         /*Tamaño*/
         margin-top: 30px;
         margin-left: 30px;
         /*Posición*/
         display: flex;
         /*Apariencia*/
         font-weight: bold;
         font-size: 20pt;
         line-height: 2;
    }
    
    .textoIntro{
        margin-left: 30px;
        width: 1025px;
        text-align: justify;
    }
    
    .listaOpciones{
        margin-top: 20px;
        padding-bottom: 30px;
        display: flex;
        justify-content: space-around;
    }
    .card a{
        text-decoration: none;
        color: white
    }
    .card {
        width: 200px;
        height: 300px;
        margin-bottom: 30px;
    }
    
    .card .card_landing {
        width: 100%;
        height: 100%;
        box-shadow: 0 5px 10px #000;
        background: linear-gradient(#000, transparent 80%), var(--i);
        background-position: center;
        background-size: cover;
    }
    
    .card .card_landing h6 {
        top: 10px;
        left: 5px;
        font-size: 20px;
        color: #fff;
    }
    
    /*Estilo de recetas*/
    
    .titleRecipe{
        /*Tamaño*/
        padding-top: 100px;
        margin-left: 30px;
        /*Posición*/
        /*Apariencia*/
        font-weight: bold;
        font-size: 25pt;
    }
    
    .introductionRecipe{
        /*Tamaño*/
        /*Posición*/
        padding-top: 20px;
        margin-left: 40px;
    }
    
    .foodPortions{
        /*Posición*/
        margin-left: 35px;
        line-height: 8;
    }
    
    .imgContenedor{
        background-color: rgb(228, 228, 228);
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .imageRecipe{
        height: 300px;
        width: 800px;
        margin-left: 45px;
        background: var(--i);
        background-position: center;
        background-size: cover;
    }
    .commentRecipe{
        display: flex;
        margin-right: 60px;
    }
    
    .commentRecipe i{
        color: rgb(246, 0, 127);
    }
    .ingredientsTitle{
        /*Apariencia*/
        font-weight: bold;
        margin-left: 35px;
    }
    
    .ingredientsList{
        /*Apariencia*/
        line-height: 2;
    }
    
    .procedureTitle{
        /*Apariencia*/
        font-weight: bold;
        margin-left: 35px;
    }
    
    .procedureList{
        /*Tamaño*/
        width: 800px;
        /*Apariencia*/
        line-height: 1.5;
        text-align: justify;
    }
    
    ul{
        list-style: none;
    }
    
    .comments{
        /*Apariencia*/
        font-weight: bold;
        margin-left: 35px;
        margin-top: 30px;
    }
    .userImage img{
        height: 50px;
        margin-right: 10px;
    }
    
    .commentsContainer{
        /*Posición*/
        display: flex;
        justify-content: left;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 40px;
        margin-bottom: 30px;
        /*Apariencia*/
        border-radius: 20px;
    }
    
    .commentsContainer2{
        /*Tamaño*/
        /*Posición*/
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 40px;
        /*Apariencia*/
        border-radius: 20px;
    }
    
    .comment{
        /*Tamaño*/
        /*Posicion*/
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 0 0 20px;
    }
    .container-agg-com{
        /*Posición*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /*Tamaño*/
        
    }
    
    .inputComments{
        /*Tamaño*/
        width: 600px;
        height: 120px;
        padding-right: 15px;
        /*Apariencia*/
        border: 1px solid gray;
        border-radius: 30px;
        /*Posición*/
        display: flex;
        flex-direction: column;
        justify-content: baseline;
    }
    
    #newComment{
        /*Apariencia*/
        outline: none;
        border: 0;
        background: none;
        /*Tamaño*/
        width: 80%;
        margin-left: 30px;
        margin-top: 15px;
        /*Apariencia*/
        transition-duration: 200ms;
    }
    
    #newComent::placeholder{
        color:black;
    }
    
    .buttonAgg{
        /*Posición*/
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    button{
        cursor: pointer;
        /*Apariencia*/
        border-radius: 20px;
        background-color: rgb(246, 0, 127);
        border: 0;
        color: white;
        font-weight: bold;
        outline: none;
        /*Tamaño*/
        height: 40px;
        width: 100px;
        margin-top: 40px;
    }
    
    .close{
        position: absolute;
        right: 150px;
        width: 20px;
        z-index: 20;
        transition-duration: 200ms;
        display: block;
        cursor: pointer;
        color: rgb(246, 0, 127);
        font-weight: bold;
    }
    
    .rating{
        /*Apariencia*/
        font-weight: bold;
        margin-left: 35px;
        margin-top: 30px;
    }
    
    .ratingContainer{
        /*Posicion*/
        transform: rotateY(180deg);
        display: flex;
        justify-content: right;
        align-items: center;
        /*Tamaño*/
        height: 50px;
        margin-left: 70px;
    }
    
    .ratingContainer input{
        display:none;
    }
    
    label{
        display:inline-block;
        font-size: 20px;
        cursor:pointer;
        transform: all 0.3s;
    }
    
    label:not(:last-child){
        margin-right: 10px;
    }
    
    input:checked ~ label,
    input:hover ~ label{
        color:  rgb(246, 0, 127);
        transform: scale(1.3);
    }
    
}

@media screen and (min-width:681px) and (max-width:1024px){
    *{
        font-family: 'Poppins', sans-serif;
    }
    body{
        margin: 0px; 
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .cel{
        display: none;
        color: #fff;
    }
    .encabezado{
        background-color: rgb(246, 0, 127);
        /*Tamaño*/
        height: 70px;
        width: 100%;
        /*Posición*/
        position: fixed;
        display: flex;
        justify-content: flex-end; 
        align-items: center;
        flex-direction: row; 
    }
    
    .encImg img{
        margin-top: 70px !important;
    }
    
    .containerSearch{
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%,-50%);
        padding: 10px;
    }
    
    .containerSearch input {
        outline: none;
        box-sizing: border-box;
        height: 30px;
        width: 0px;
        padding: 0 20px;
        color: #000;
        border-radius: 50px;
        font-size: 20px;
        border: 1px solid rgb(246, 0, 127);
        transition: all .7s ease;
    }
    
    ::placeholder {
        color: grey;
    }
    
    .btnSearch{
        position: absolute;
        right: 0px;
        top: 0px;
        width: 53px;
        height: 53px;
        background: rgb(246, 0, 127);
        line-height: 80px;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
        transition: .5s;
    }
    
    .btnSearch i {
        font-size: 25px;
        color: white;
        line-height: 50px;
        transition: all .7s ease;
    }
    
    .containerSearch:hover input {
        width: 350px;
    }
    
    .containerSearch:hover i{
        transform: rotate(-360deg);
    }
    
    .btnSearch:hover{
        background: rgb(246, 0, 127);
    }
    
    .login{
        /*Posicion*/
        display: flex;
        justify-content: flex-end; 
        align-items: center;
        flex-direction: row;
        /*Tamaño*/
        margin-right: 20px;
        width: 90%;
    }
    
    .inicioSesion a{
        text-decoration: none;
        color: white;
        font-weight: bold;
    }
    
    .registro a{
        text-decoration: none;
        color: rgb(246, 0, 127);
        font-weight: bold;
    }
    
    .inicioSesion{
        /*Tamaño*/
        height: 25px;
        width: 145px;
        margin: 5px;
        padding-top: 2px;
        /*Bordes*/
        border: 1px solid white;
        border-radius: 20px;
        /*Contenido*/
        font-weight: bold;
        text-align: center;
    }
    
    .registro{
        /*Tamaño*/
        height: 25px;
        width: 130px;
        margin: 15px;
        padding-top: 2px;
        /*Bordes*/
        border-radius: 20px;
        background-color: white;
        /*Contenido*/
        font-weight: bold;
        text-align: center;
        
    }
    
    .menu{
        /*Tamaño*/
        height: 50px;
        width: 100%;
        font-size: 10pt;
        /*Posicion*/
        display: flex;
        justify-content: center;
        /*Apariencia*/
    }
    
    a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        margin: 15px;
        font-size: 10pt;
    }
    
    span{
        color: rgb(246, 0, 127);
    }
    .mainPage{
        color: black;
        font-weight: bold;
        margin-top: 150px;
        background-image: linear-gradient(to bottom, white 25%, white 30%, rgb(252, 192, 223) 70%);
    
        /*Tamaño*/
    }
    
    .sugerencias{
        margin-left: 30px;
        font-size: 10pt;
    }
    
    .lectura{
        margin-left: 30px;
        margin-top: 30px;
        font-size: 10pt;
    }
    
    .recomendaciones{
        margin-left: 30px;
        margin-top: 50px;
        font-size: 10pt;
    }
    
    .imgSug{
        margin-left: 40px;
        display: flex;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: flex-start;
    }
    
    .piePagina{
        background-color: black;
        /*Tamaño*/
        /*height: 100px;*/
        width: 100%;
        height: 100px;
        color: #fff;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: smaller;
    }
    .piePagina a{
        color:#fff
    }
    
    .slider-frame {
        width: 1280px;
        height: auto;
        margin:50px auto 0;
        overflow: hidden;
        display: none;
    }
    
    
    /*Estilo listado recetas*/
    
    .titlePage{
         /*Tamaño*/
         margin-top: 30px;
         margin-left: 30px;
         /*Posición*/
         /*Apariencia*/
         font-weight: bold;
         font-size: 25pt;
    }
    .introductionPage{
        /*Tamaño*/
        margin-left: 30px;
        width: 90%;
        text-align: justify;
    }
    
    .cocinar{
         /*Tamaño*/
         margin-top: 30px;
         margin-left: 30px;
         /*Posición*/
         display: flex;
         /*Apariencia*/
         font-weight: bold;
         font-size: 20pt;
         line-height: 2;
    }
    
    .textoIntro{
        margin-left: 30px;
        width: 1025px;
        text-align: justify;
    }
    
    .listaOpciones{
        margin-top: 20px;
        padding-bottom: 30px;
        display: flex;
        justify-content: space-around;
    }
    .card a{
        text-decoration: none;
        color: white
    }
    .card {
        width: 100;
        height: 200px;
        margin-bottom: 30px;
    }
    
    .card .card_landing {
        width: 100%;
        height: 100%;
        box-shadow: 0 5px 10px #000;
        background: linear-gradient(#000, transparent 80%), var(--i);
        background-position: center;
        background-size: cover;
    }
    
    .card .card_landing h6 {
        top: 10px;
        left: 5px;
        font-size: 20px;
        color: #fff;
    }
    
    /*Estilo de recetas*/
    
    .titleRecipe{
        /*Tamaño*/
        padding-top: 100px;
        margin-left: 30px;
        /*Posición*/
        /*Apariencia*/
        font-weight: bold;
        font-size: 25pt;
    }
    
    .introductionRecipe{
        /*Tamaño*/
        /*Posición*/
        padding-top: 20px;
        margin-left: 40px;
    }
    
    .foodPortions{
        /*Posición*/
        margin-left: 35px;
        line-height: 8;
    }
    
    .imgContenedor{
        background-color: rgb(228, 228, 228);
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .imageRecipe{
        height: 300px;
        width: 800px;
        margin-left: 45px;
        background: var(--i);
        background-position: center;
        background-size: cover;
    }
    .commentRecipe{
        display: flex;
        margin-right: 60px;
    }
    
    .commentRecipe i{
        color: rgb(246, 0, 127);
    }
    .ingredientsTitle{
        /*Apariencia*/
        font-weight: bold;
        margin-left: 35px;
    }
    
    .ingredientsList{
        /*Apariencia*/
        line-height: 2;
    }
    
    .procedureTitle{
        /*Apariencia*/
        font-weight: bold;
        margin-left: 35px;
    }
    
    .procedureList{
        /*Tamaño*/
        width: 800px;
        /*Apariencia*/
        line-height: 1.5;
        text-align: justify;
    }
    
    ul{
        list-style: none;
    }
    
    .comments{
        /*Apariencia*/
        font-weight: bold;
        margin-left: 35px;
        margin-top: 30px;
    }
    .userImage img{
        height: 50px;
        margin-right: 10px;
    }
    
    .commentsContainer{
        /*Posición*/
        display: flex;
        justify-content: left;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 40px;
        margin-bottom: 30px;
        /*Apariencia*/
        border-radius: 20px;
    }
    
    .commentsContainer2{
        /*Tamaño*/
        /*Posición*/
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 40px;
        /*Apariencia*/
        border-radius: 20px;
    }
    
    .comment{
        /*Tamaño*/
        /*Posicion*/
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 0 0 20px;
    }
    .container-agg-com{
        /*Posición*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /*Tamaño*/
        
    }
    
    .inputComments{
        /*Tamaño*/
        width: 600px;
        height: 120px;
        padding-right: 15px;
        /*Apariencia*/
        border: 1px solid gray;
        border-radius: 30px;
        /*Posición*/
        display: flex;
        flex-direction: column;
        justify-content: baseline;
    }
    
    #newComment{
        /*Apariencia*/
        outline: none;
        border: 0;
        background: none;
        /*Tamaño*/
        width: 80%;
        margin-left: 30px;
        margin-top: 15px;
        /*Apariencia*/
        transition-duration: 200ms;
    }
    
    #newComent::placeholder{
        color:black;
    }
    
    .buttonAgg{
        /*Posición*/
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    button{
        cursor: pointer;
        /*Apariencia*/
        border-radius: 20px;
        background-color: rgb(246, 0, 127);
        border: 0;
        color: white;
        font-weight: bold;
        outline: none;
        /*Tamaño*/
        height: 40px;
        width: 100px;
        margin-top: 40px;
    }
    
    .close{
        position: absolute;
        right: 150px;
        width: 20px;
        z-index: 20;
        transition-duration: 200ms;
        display: block;
        cursor: pointer;
        color: rgb(246, 0, 127);
        font-weight: bold;
    }
    
    .rating{
        /*Apariencia*/
        font-weight: bold;
        margin-left: 35px;
        margin-top: 30px;
    }
    
    .ratingContainer{
        /*Posicion*/
        transform: rotateY(180deg);
        display: flex;
        justify-content: right;
        align-items: center;
        /*Tamaño*/
        height: 50px;
        margin-left: 70px;
    }
    
    .ratingContainer input{
        display:none;
    }
    
    label{
        display:inline-block;
        font-size: 20px;
        cursor:pointer;
        transform: all 0.3s;
    }
    
    label:not(:last-child){
        margin-right: 10px;
    }
    
    input:checked ~ label,
    input:hover ~ label{
        color:  rgb(246, 0, 127);
        transform: scale(1.3);
    }
    
}

@media screen and (min-width:0px) and (max-width:680px){
    *{
        font-family: 'Poppins', sans-serif;
    }
    body{
        margin: 0px; 
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .encabezado{
        background-color: rgb(246, 0, 127);
        /*Tamaño*/
        height: 70px;
        width: 100%;
        /*Posición*/
        position: fixed;
        display: flex;
        justify-content: flex-end; 
        align-items: center;
        flex-direction: row; 
    }
    
    .encImg img{
        margin-top: 70px !important;
    }
    
    .containerSearch{
        position: absolute;
        left: 50%;
        top: 23%;
        transform: translate(-50%,-50%);
        padding: 10px;
    }
    
    .containerSearch input {
        outline: none;
        box-sizing: border-box;
        height: 20px;
        width: 0px;
        padding: 0 20px;
        color: #000;
        border-radius: 50px;
        font-size: 10px;
        border: 1px solid rgb(246, 0, 127);
        transition: all .7s ease;
    }
    
    ::placeholder {
        color: grey;
    }
    
    .btnSearch{
        position: absolute;
        right: 0px;
        top: 0px;
        width: 53px;
        height: 53px;
        background: rgb(246, 0, 127);
        line-height: 80px;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
        transition: .5s;
    }
    
    .btnSearch i {
        font-size: 25px;
        color: white;
        line-height: 50px;
        transition: all .7s ease;
    }
    
    .containerSearch:hover input {
        width: 350px;
    }
    
    .containerSearch:hover i{
        transform: rotate(-360deg);
    }
    
    .btnSearch:hover{
        background: rgb(246, 0, 127);
    }
    
    .login{
        /*Posicion*/
        display: flex;
        justify-content: flex-end; 
        align-items: center;
        flex-direction: row;
        /*Tamaño*/
        margin-right: 20px;
        width: 90%;
    }
    
    .inicioSesion a{
        text-decoration: none;
        color: white;
        font-weight: bold;
    }
    
    .registro a{
        text-decoration: none;
        color: rgb(246, 0, 127);
        font-weight: bold;
    }
    
    .inicioSesion{
        /*Tamaño*/
        height: 25px;
        width: 145px;
        margin: 5px;
        padding-top: 2px;
        /*Bordes*/
        border: 1px solid white;
        border-radius: 20px;
        /*Contenido*/
        font-weight: bold;
        text-align: center;
    }
    
    .registro{
        /*Tamaño*/
        height: 25px;
        width: 130px;
        margin: 15px;
        padding-top: 2px;
        /*Bordes*/
        border-radius: 20px;
        background-color: white;
        /*Contenido*/
        font-weight: bold;
        text-align: center;
        
    }
    
    .menu{
        /*Tamaño*/
        height: 200px;
        width: 100%;
        margin-top: 60px;
        font-size: 8pt;
        /*Posicion*/
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /*Apariencia*/
    }
    
    .cel{
        margin-left: 10px;
        font-size: 15pt;
        margin-top: 130px;
        font-weight: bold;
    }

    a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        margin: 15px;
        font-size: 10pt;
    }
    
    span{
        color: rgb(246, 0, 127);
    }
    .mainPage{
        color: black;
        font-weight: bold;
        margin-top: 30px;
        background-image: linear-gradient(to bottom, white 25%, white 30%, rgb(252, 192, 223) 70%);
    
        /*Tamaño*/
    }
    
    .sugerencias{
        margin-left: 30px;
        font-size: 10pt;
    }
    
    .lectura{
        margin-left: 30px;
        margin-top: 30px;
        font-size: 10pt;
    }
    
    .recomendaciones{
        margin-left: 30px;
        margin-top: 50px;
        font-size: 10pt;
    }
    
    .imgSug{
        margin-left: 40px;
        display: flex;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: flex-start;
    }
    
    .piePagina{
        background-color: black;
        /*Tamaño*/
        /*height: 100px;*/
        width: 100%;
        height: 100px;
        color: #fff;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 6pt;
    }
    .piePagina a{
        color:#fff;
        font-size: 6px;
    }
    
    .slider-frame {
        width: 1280px;
        height: auto;
        margin:50px auto 0;
        overflow: hidden;
        display: none;
    }
    
    
    /*Estilo listado recetas*/
    
    .titlePage{
         /*Tamaño*/
         margin-top: 30px;
         margin-left: 30px;
         /*Posición*/
         /*Apariencia*/
         font-weight: bold;
         font-size: 25pt;
    }
    .introductionPage{
        /*Tamaño*/
        margin-left: 30px;
        width: 90%;
        text-align: justify;
    }
    
    .cocinar{
         /*Tamaño*/
         margin-top: 30px;
         margin-left: 30px;
         /*Posición*/
         display: flex;
         /*Apariencia*/
         font-weight: bold;
         font-size: 20pt;
         line-height: 2;
    }
    
    .textoIntro{
        margin-left: 30px;
        width: 1025px;
        text-align: justify;
    }
    
    .listaOpciones{
        margin-top: 20px;
        padding-bottom: 30px;
        display: flex;
        justify-content: space-around;
    }
    .card a{
        text-decoration: none;
        color: white
    }
    .card {
        width: 100;
        height: 200px;
        margin-bottom: 30px;
    }
    
    .card .card_landing {
        width: 100%;
        height: 100%;
        box-shadow: 0 5px 10px #000;
        background: linear-gradient(#000, transparent 80%), var(--i);
        background-position: center;
        background-size: cover;
    }
    
    .card .card_landing h6 {
        top: 10px;
        left: 5px;
        font-size: 20px;
        color: #fff;
    }
    
    /*Estilo de recetas*/
    
    .titleRecipe{
        /*Tamaño*/
        padding-top: 100px;
        margin-left: 30px;
        /*Posición*/
        /*Apariencia*/
        font-weight: bold;
        font-size: 25pt;
    }
    
    .introductionRecipe{
        /*Tamaño*/
        /*Posición*/
        padding-top: 20px;
        margin-left: 40px;
    }
    
    .foodPortions{
        /*Posición*/
        margin-left: 35px;
        line-height: 8;
    }
    
    .imgContenedor{
        background-color: rgb(228, 228, 228);
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .imageRecipe{
        height: 300px;
        width: 800px;
        margin-left: 45px;
        background: var(--i);
        background-position: center;
        background-size: cover;
    }
    .commentRecipe{
        display: flex;
        margin-right: 60px;
    }
    
    .commentRecipe i{
        color: rgb(246, 0, 127);
    }
    .ingredientsTitle{
        /*Apariencia*/
        font-weight: bold;
        margin-left: 35px;
    }
    
    .ingredientsList{
        /*Apariencia*/
        line-height: 2;
    }
    
    .procedureTitle{
        /*Apariencia*/
        font-weight: bold;
        margin-left: 35px;
    }
    
    .procedureList{
        /*Tamaño*/
        width: 800px;
        /*Apariencia*/
        line-height: 1.5;
        text-align: justify;
    }
    
    ul{
        list-style: none;
    }
    
    .comments{
        /*Apariencia*/
        font-weight: bold;
        margin-left: 35px;
        margin-top: 30px;
    }
    .userImage img{
        height: 50px;
        margin-right: 10px;
    }
    
    .commentsContainer{
        /*Posición*/
        display: flex;
        justify-content: left;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 40px;
        margin-bottom: 30px;
        /*Apariencia*/
        border-radius: 20px;
    }
    
    .commentsContainer2{
        /*Tamaño*/
        /*Posición*/
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 40px;
        /*Apariencia*/
        border-radius: 20px;
    }
    
    .comment{
        /*Tamaño*/
        /*Posicion*/
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 0 0 20px;
    }
    .container-agg-com{
        /*Posición*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /*Tamaño*/
        
    }
    
    .inputComments{
        /*Tamaño*/
        width: 600px;
        height: 120px;
        padding-right: 15px;
        /*Apariencia*/
        border: 1px solid gray;
        border-radius: 30px;
        /*Posición*/
        display: flex;
        flex-direction: column;
        justify-content: baseline;
    }
    
    #newComment{
        /*Apariencia*/
        outline: none;
        border: 0;
        background: none;
        /*Tamaño*/
        width: 80%;
        margin-left: 30px;
        margin-top: 15px;
        /*Apariencia*/
        transition-duration: 200ms;
    }
    
    #newComent::placeholder{
        color:black;
    }
    
    .buttonAgg{
        /*Posición*/
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    button{
        cursor: pointer;
        /*Apariencia*/
        border-radius: 20px;
        background-color: rgb(246, 0, 127);
        border: 0;
        color: white;
        font-weight: bold;
        outline: none;
        /*Tamaño*/
        height: 40px;
        width: 100px;
        margin-top: 40px;
    }
    
    .close{
        position: absolute;
        right: 150px;
        width: 20px;
        z-index: 20;
        transition-duration: 200ms;
        display: block;
        cursor: pointer;
        color: rgb(246, 0, 127);
        font-weight: bold;
    }
    
    .rating{
        /*Apariencia*/
        font-weight: bold;
        margin-left: 35px;
        margin-top: 30px;
    }
    
    .ratingContainer{
        /*Posicion*/
        transform: rotateY(180deg);
        display: flex;
        justify-content: right;
        align-items: center;
        /*Tamaño*/
        height: 50px;
        margin-left: 70px;
    }
    
    .ratingContainer input{
        display:none;
    }
    
    label{
        display:inline-block;
        font-size: 20px;
        cursor:pointer;
        transform: all 0.3s;
    }
    
    label:not(:last-child){
        margin-right: 10px;
    }
    
    input:checked ~ label,
    input:hover ~ label{
        color:  rgb(246, 0, 127);
        transform: scale(1.3);
    }

}
